@media screen and (max-width: 768px){
	.form__ .form__campo{
		width: 90% !important;
		height: 2rem;
	}

	.form__ label{
		margin-top: 2rem;
	}

	.botoes__ button{
		height: 50px;
		width: 90px;
	}

	#res__ .res__img{
		width: 200px;
		height: 200px;
	}
}